/* Write your code here. */
.home-page-cont {
  display: flex;
  justify-content: center;
}
.content-cont {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-top: 34px;
  margin-bottom: 34px;
  max-width: 1140px;
}

.page-title {
  color: #1e293b;
  font-family: Roboto;
  font-size: 22px;
}
.creator-name {
  color: #64748b;
  font-family: Roboto;
  font-size: 14px;
}
.thumbnail-cont {
  display: flex;
  flex-wrap: wrap;
}
